.product-card {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
  }
  footer {
    background-color: rgb(35, 126, 71);
    color: white;
    padding:30px 0px;
  } 
  .footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .footer-links li {
    margin-right: 20px;
  }
  .footer-links li a{
    color:#ccc;
    text-decoration: none;
  }
  
  .social-icons {
    font-size: 24px;
    margin-right: 10px;
}
.product-rating {
    color: #f39c12;
  }